<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../public/css/dashboard.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vest+</title>
</head>
<body>
    <header class="dashboard-header">
        <span class="logo">Vest+</span>
        <span id="nome-usuario"></span>
    </header>
    <main class="dashboard-container">
        <div id="areas-container">
            
        </div>
    </main>
    <script src="../public/js/dados-dashboard.js"></script>
    <script src="../public/js/dashboard.js"></script>
</body>
</html>