<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vest+</title>
</head>

<body>
        <main class="Login-container">

            <section class="Login-info">

            </section>
            <h1>VEST+</h1>
            <p><Bem-Vindo!</p>
            <p>Entre com suas credencias para continuar.</p>
        </section>

        <section class="Login-form">
            <h2>Entrar</h2>

        </section>
        </main>
            
            </div>
        </div>
    </div>
</body>
</html>